//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 05 14:17:05 2019
//! **************************************************************************

SCHEMATIC START;
COMP "usb_bus<5>" LOCATE = SITE "F16" LEVEL 1;
COMP "usb_bus<6>" LOCATE = SITE "F13" LEVEL 1;
COMP "usb_bus<7>" LOCATE = SITE "E16" LEVEL 1;
COMP "usb_bus<0>" LOCATE = SITE "E18" LEVEL 1;
COMP "usb_bus<1>" LOCATE = SITE "D14" LEVEL 1;
COMP "usb_bus<2>" LOCATE = SITE "G17" LEVEL 1;
COMP "usb_bus<3>" LOCATE = SITE "G16" LEVEL 1;
COMP "usb_bus<4>" LOCATE = SITE "F18" LEVEL 1;
COMP "rxf_l" LOCATE = SITE "D17" LEVEL 1;
COMP "txe_l" LOCATE = SITE "C17" LEVEL 1;
COMP "usb_rd" LOCATE = SITE "H14" LEVEL 1;
COMP "usb_wr" LOCATE = SITE "H16" LEVEL 1;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "reset_l" LOCATE = SITE "C12" LEVEL 1;
PIN sram1/Mram_myarray_pins<63> = BEL "sram1/Mram_myarray" PINNAME CLKARDCLKU;
PIN sram1/Mram_myarray_pins<62> = BEL "sram1/Mram_myarray" PINNAME CLKARDCLKL;
PIN sram1/Mram_myarray_pins<65> = BEL "sram1/Mram_myarray" PINNAME CLKBWRCLKU;
PIN sram1/Mram_myarray_pins<64> = BEL "sram1/Mram_myarray" PINNAME CLKBWRCLKL;
TIMEGRP mydcm1_clkout1 = BEL "rsrc1/rsrcmareg/address_0" BEL
        "rsrc1/rsrcmareg/address_1" BEL "rsrc1/rsrcmareg/address_2" BEL
        "rsrc1/rsrcmareg/address_3" BEL "rsrc1/rsrcmareg/address_4" BEL
        "rsrc1/rsrcmareg/address_5" BEL "rsrc1/rsrcmareg/address_6" BEL
        "rsrc1/rsrcmareg/address_7" BEL "rsrc1/rsrcmareg/address_8" BEL
        "rsrc1/rsrcmareg/address_9" BEL "rsrc1/rsrcmareg/address_10" BEL
        "rsrc1/rsrcmareg/address_11" BEL "rsrc1/rsrcmareg/address_12" BEL
        "rsrc1/rsrcmareg/address_13" BEL "rsrc1/rsrcmareg/address_14" BEL
        "rsrc1/rsrcmareg/address_15" BEL "rsrc1/rsrcmareg/address_16" BEL
        "rsrc1/rsrcmareg/address_17" BEL "rsrc1/rsrcmareg/address_18" BEL
        "rsrc1/rsrcmareg/address_19" BEL "rsrc1/rsrcmareg/address_20" BEL
        "rsrc1/rsrcmareg/address_21" BEL "rsrc1/rsrcmareg/address_22" BEL
        "rsrc1/rsrcmareg/address_23" BEL "rsrc1/rsrcmareg/address_24" BEL
        "rsrc1/rsrcmareg/address_25" BEL "rsrc1/rsrcmareg/address_26" BEL
        "rsrc1/rsrcmareg/address_27" BEL "rsrc1/rsrcmareg/address_28" BEL
        "rsrc1/rsrcmareg/address_29" BEL "rsrc1/rsrcmareg/address_30" BEL
        "rsrc1/rsrcmareg/address_31" BEL "mydcm1/clkout2_buf" BEL
        "usb1/wr_count_2" BEL "usb1/wr_count_1" BEL "usb1/wr_count_0" BEL
        "usb1/rd_count_2" BEL "usb1/rd_count_1" BEL "usb1/rd_count_0" BEL
        "usb1/d_usb_7" BEL "usb1/d_usb_6" BEL "usb1/d_usb_5" BEL
        "usb1/d_usb_4" BEL "usb1/d_usb_3" BEL "usb1/d_usb_2" BEL
        "usb1/d_usb_1" BEL "usb1/d_usb_0" BEL "usb1/rd_l" BEL
        "usb1/usb_rd_h_clk_DFF_44" BEL "usb1/Z_23_o_dff_10_OUT_7" BEL
        "usb1/Z_23_o_dff_10_OUT_6" BEL "usb1/Z_23_o_dff_10_OUT_5" BEL
        "usb1/Z_23_o_dff_10_OUT_4" BEL "usb1/Z_23_o_dff_10_OUT_3" BEL
        "usb1/Z_23_o_dff_10_OUT_2" BEL "usb1/Z_23_o_dff_10_OUT_1" BEL
        "usb1/Z_23_o_dff_10_OUT_0" BEL "usb1/usb_wr_h_clk_DFF_86" BEL
        "rsrc1/rsrcpc/pc_31" BEL "rsrc1/rsrcpc/pc_30" BEL "rsrc1/rsrcpc/pc_29"
        BEL "rsrc1/rsrcpc/pc_28" BEL "rsrc1/rsrcpc/pc_27" BEL
        "rsrc1/rsrcpc/pc_26" BEL "rsrc1/rsrcpc/pc_25" BEL "rsrc1/rsrcpc/pc_24"
        BEL "rsrc1/rsrcpc/pc_23" BEL "rsrc1/rsrcpc/pc_22" BEL
        "rsrc1/rsrcpc/pc_21" BEL "rsrc1/rsrcpc/pc_20" BEL "rsrc1/rsrcpc/pc_19"
        BEL "rsrc1/rsrcpc/pc_18" BEL "rsrc1/rsrcpc/pc_17" BEL
        "rsrc1/rsrcpc/pc_16" BEL "rsrc1/rsrcpc/pc_15" BEL "rsrc1/rsrcpc/pc_14"
        BEL "rsrc1/rsrcpc/pc_13" BEL "rsrc1/rsrcpc/pc_12" BEL
        "rsrc1/rsrcpc/pc_11" BEL "rsrc1/rsrcpc/pc_10" BEL "rsrc1/rsrcpc/pc_9"
        BEL "rsrc1/rsrcpc/pc_8" BEL "rsrc1/rsrcpc/pc_7" BEL
        "rsrc1/rsrcpc/pc_6" BEL "rsrc1/rsrcpc/pc_5" BEL "rsrc1/rsrcpc/pc_4"
        BEL "rsrc1/rsrcpc/pc_3" BEL "rsrc1/rsrcpc/pc_2" BEL
        "rsrc1/rsrcpc/pc_1" BEL "rsrc1/rsrcpc/pc_0" BEL "rsrc1/rsrccreg/c_31"
        BEL "rsrc1/rsrccreg/c_30" BEL "rsrc1/rsrccreg/c_29" BEL
        "rsrc1/rsrccreg/c_28" BEL "rsrc1/rsrccreg/c_27" BEL
        "rsrc1/rsrccreg/c_26" BEL "rsrc1/rsrccreg/c_25" BEL
        "rsrc1/rsrccreg/c_24" BEL "rsrc1/rsrccreg/c_23" BEL
        "rsrc1/rsrccreg/c_22" BEL "rsrc1/rsrccreg/c_21" BEL
        "rsrc1/rsrccreg/c_20" BEL "rsrc1/rsrccreg/c_19" BEL
        "rsrc1/rsrccreg/c_18" BEL "rsrc1/rsrccreg/c_17" BEL
        "rsrc1/rsrccreg/c_16" BEL "rsrc1/rsrccreg/c_15" BEL
        "rsrc1/rsrccreg/c_14" BEL "rsrc1/rsrccreg/c_13" BEL
        "rsrc1/rsrccreg/c_12" BEL "rsrc1/rsrccreg/c_11" BEL
        "rsrc1/rsrccreg/c_10" BEL "rsrc1/rsrccreg/c_9" BEL
        "rsrc1/rsrccreg/c_8" BEL "rsrc1/rsrccreg/c_7" BEL "rsrc1/rsrccreg/c_6"
        BEL "rsrc1/rsrccreg/c_5" BEL "rsrc1/rsrccreg/c_4" BEL
        "rsrc1/rsrccreg/c_3" BEL "rsrc1/rsrccreg/c_2" BEL "rsrc1/rsrccreg/c_1"
        BEL "rsrc1/rsrccreg/c_0" BEL "rsrc1/rsrcregfile/reg0_31" BEL
        "rsrc1/rsrcregfile/reg0_30" BEL "rsrc1/rsrcregfile/reg0_29" BEL
        "rsrc1/rsrcregfile/reg0_28" BEL "rsrc1/rsrcregfile/reg0_27" BEL
        "rsrc1/rsrcregfile/reg0_26" BEL "rsrc1/rsrcregfile/reg0_25" BEL
        "rsrc1/rsrcregfile/reg0_24" BEL "rsrc1/rsrcregfile/reg0_23" BEL
        "rsrc1/rsrcregfile/reg0_22" BEL "rsrc1/rsrcregfile/reg0_21" BEL
        "rsrc1/rsrcregfile/reg0_20" BEL "rsrc1/rsrcregfile/reg0_19" BEL
        "rsrc1/rsrcregfile/reg0_18" BEL "rsrc1/rsrcregfile/reg0_17" BEL
        "rsrc1/rsrcregfile/reg0_16" BEL "rsrc1/rsrcregfile/reg0_15" BEL
        "rsrc1/rsrcregfile/reg0_14" BEL "rsrc1/rsrcregfile/reg0_13" BEL
        "rsrc1/rsrcregfile/reg0_12" BEL "rsrc1/rsrcregfile/reg0_11" BEL
        "rsrc1/rsrcregfile/reg0_10" BEL "rsrc1/rsrcregfile/reg0_9" BEL
        "rsrc1/rsrcregfile/reg0_8" BEL "rsrc1/rsrcregfile/reg0_7" BEL
        "rsrc1/rsrcregfile/reg0_6" BEL "rsrc1/rsrcregfile/reg0_5" BEL
        "rsrc1/rsrcregfile/reg0_4" BEL "rsrc1/rsrcregfile/reg0_3" BEL
        "rsrc1/rsrcregfile/reg0_2" BEL "rsrc1/rsrcregfile/reg0_1" BEL
        "rsrc1/rsrcregfile/reg0_0" BEL "rsrc1/rsrcregfile/reg31_31" BEL
        "rsrc1/rsrcregfile/reg31_30" BEL "rsrc1/rsrcregfile/reg31_29" BEL
        "rsrc1/rsrcregfile/reg31_28" BEL "rsrc1/rsrcregfile/reg31_27" BEL
        "rsrc1/rsrcregfile/reg31_26" BEL "rsrc1/rsrcregfile/reg31_25" BEL
        "rsrc1/rsrcregfile/reg31_24" BEL "rsrc1/rsrcregfile/reg31_23" BEL
        "rsrc1/rsrcregfile/reg31_22" BEL "rsrc1/rsrcregfile/reg31_21" BEL
        "rsrc1/rsrcregfile/reg31_20" BEL "rsrc1/rsrcregfile/reg31_19" BEL
        "rsrc1/rsrcregfile/reg31_18" BEL "rsrc1/rsrcregfile/reg31_17" BEL
        "rsrc1/rsrcregfile/reg31_16" BEL "rsrc1/rsrcregfile/reg31_15" BEL
        "rsrc1/rsrcregfile/reg31_14" BEL "rsrc1/rsrcregfile/reg31_13" BEL
        "rsrc1/rsrcregfile/reg31_12" BEL "rsrc1/rsrcregfile/reg31_11" BEL
        "rsrc1/rsrcregfile/reg31_10" BEL "rsrc1/rsrcregfile/reg31_9" BEL
        "rsrc1/rsrcregfile/reg31_8" BEL "rsrc1/rsrcregfile/reg31_7" BEL
        "rsrc1/rsrcregfile/reg31_6" BEL "rsrc1/rsrcregfile/reg31_5" BEL
        "rsrc1/rsrcregfile/reg31_4" BEL "rsrc1/rsrcregfile/reg31_3" BEL
        "rsrc1/rsrcregfile/reg31_2" BEL "rsrc1/rsrcregfile/reg31_1" BEL
        "rsrc1/rsrcregfile/reg31_0" BEL "rsrc1/rsrcregfile/reg30_31" BEL
        "rsrc1/rsrcregfile/reg30_30" BEL "rsrc1/rsrcregfile/reg30_29" BEL
        "rsrc1/rsrcregfile/reg30_28" BEL "rsrc1/rsrcregfile/reg30_27" BEL
        "rsrc1/rsrcregfile/reg30_26" BEL "rsrc1/rsrcregfile/reg30_25" BEL
        "rsrc1/rsrcregfile/reg30_24" BEL "rsrc1/rsrcregfile/reg30_23" BEL
        "rsrc1/rsrcregfile/reg30_22" BEL "rsrc1/rsrcregfile/reg30_21" BEL
        "rsrc1/rsrcregfile/reg30_20" BEL "rsrc1/rsrcregfile/reg30_19" BEL
        "rsrc1/rsrcregfile/reg30_18" BEL "rsrc1/rsrcregfile/reg30_17" BEL
        "rsrc1/rsrcregfile/reg30_16" BEL "rsrc1/rsrcregfile/reg30_15" BEL
        "rsrc1/rsrcregfile/reg30_14" BEL "rsrc1/rsrcregfile/reg30_13" BEL
        "rsrc1/rsrcregfile/reg30_12" BEL "rsrc1/rsrcregfile/reg30_11" BEL
        "rsrc1/rsrcregfile/reg30_10" BEL "rsrc1/rsrcregfile/reg30_9" BEL
        "rsrc1/rsrcregfile/reg30_8" BEL "rsrc1/rsrcregfile/reg30_7" BEL
        "rsrc1/rsrcregfile/reg30_6" BEL "rsrc1/rsrcregfile/reg30_5" BEL
        "rsrc1/rsrcregfile/reg30_4" BEL "rsrc1/rsrcregfile/reg30_3" BEL
        "rsrc1/rsrcregfile/reg30_2" BEL "rsrc1/rsrcregfile/reg30_1" BEL
        "rsrc1/rsrcregfile/reg30_0" BEL "rsrc1/rsrcregfile/reg28_31" BEL
        "rsrc1/rsrcregfile/reg28_30" BEL "rsrc1/rsrcregfile/reg28_29" BEL
        "rsrc1/rsrcregfile/reg28_28" BEL "rsrc1/rsrcregfile/reg28_27" BEL
        "rsrc1/rsrcregfile/reg28_26" BEL "rsrc1/rsrcregfile/reg28_25" BEL
        "rsrc1/rsrcregfile/reg28_24" BEL "rsrc1/rsrcregfile/reg28_23" BEL
        "rsrc1/rsrcregfile/reg28_22" BEL "rsrc1/rsrcregfile/reg28_21" BEL
        "rsrc1/rsrcregfile/reg28_20" BEL "rsrc1/rsrcregfile/reg28_19" BEL
        "rsrc1/rsrcregfile/reg28_18" BEL "rsrc1/rsrcregfile/reg28_17" BEL
        "rsrc1/rsrcregfile/reg28_16" BEL "rsrc1/rsrcregfile/reg28_15" BEL
        "rsrc1/rsrcregfile/reg28_14" BEL "rsrc1/rsrcregfile/reg28_13" BEL
        "rsrc1/rsrcregfile/reg28_12" BEL "rsrc1/rsrcregfile/reg28_11" BEL
        "rsrc1/rsrcregfile/reg28_10" BEL "rsrc1/rsrcregfile/reg28_9" BEL
        "rsrc1/rsrcregfile/reg28_8" BEL "rsrc1/rsrcregfile/reg28_7" BEL
        "rsrc1/rsrcregfile/reg28_6" BEL "rsrc1/rsrcregfile/reg28_5" BEL
        "rsrc1/rsrcregfile/reg28_4" BEL "rsrc1/rsrcregfile/reg28_3" BEL
        "rsrc1/rsrcregfile/reg28_2" BEL "rsrc1/rsrcregfile/reg28_1" BEL
        "rsrc1/rsrcregfile/reg28_0" BEL "rsrc1/rsrcregfile/reg27_31" BEL
        "rsrc1/rsrcregfile/reg27_30" BEL "rsrc1/rsrcregfile/reg27_29" BEL
        "rsrc1/rsrcregfile/reg27_28" BEL "rsrc1/rsrcregfile/reg27_27" BEL
        "rsrc1/rsrcregfile/reg27_26" BEL "rsrc1/rsrcregfile/reg27_25" BEL
        "rsrc1/rsrcregfile/reg27_24" BEL "rsrc1/rsrcregfile/reg27_23" BEL
        "rsrc1/rsrcregfile/reg27_22" BEL "rsrc1/rsrcregfile/reg27_21" BEL
        "rsrc1/rsrcregfile/reg27_20" BEL "rsrc1/rsrcregfile/reg27_19" BEL
        "rsrc1/rsrcregfile/reg27_18" BEL "rsrc1/rsrcregfile/reg27_17" BEL
        "rsrc1/rsrcregfile/reg27_16" BEL "rsrc1/rsrcregfile/reg27_15" BEL
        "rsrc1/rsrcregfile/reg27_14" BEL "rsrc1/rsrcregfile/reg27_13" BEL
        "rsrc1/rsrcregfile/reg27_12" BEL "rsrc1/rsrcregfile/reg27_11" BEL
        "rsrc1/rsrcregfile/reg27_10" BEL "rsrc1/rsrcregfile/reg27_9" BEL
        "rsrc1/rsrcregfile/reg27_8" BEL "rsrc1/rsrcregfile/reg27_7" BEL
        "rsrc1/rsrcregfile/reg27_6" BEL "rsrc1/rsrcregfile/reg27_5" BEL
        "rsrc1/rsrcregfile/reg27_4" BEL "rsrc1/rsrcregfile/reg27_3" BEL
        "rsrc1/rsrcregfile/reg27_2" BEL "rsrc1/rsrcregfile/reg27_1" BEL
        "rsrc1/rsrcregfile/reg27_0" BEL "rsrc1/rsrcregfile/reg29_31" BEL
        "rsrc1/rsrcregfile/reg29_30" BEL "rsrc1/rsrcregfile/reg29_29" BEL
        "rsrc1/rsrcregfile/reg29_28" BEL "rsrc1/rsrcregfile/reg29_27" BEL
        "rsrc1/rsrcregfile/reg29_26" BEL "rsrc1/rsrcregfile/reg29_25" BEL
        "rsrc1/rsrcregfile/reg29_24" BEL "rsrc1/rsrcregfile/reg29_23" BEL
        "rsrc1/rsrcregfile/reg29_22" BEL "rsrc1/rsrcregfile/reg29_21" BEL
        "rsrc1/rsrcregfile/reg29_20" BEL "rsrc1/rsrcregfile/reg29_19" BEL
        "rsrc1/rsrcregfile/reg29_18" BEL "rsrc1/rsrcregfile/reg29_17" BEL
        "rsrc1/rsrcregfile/reg29_16" BEL "rsrc1/rsrcregfile/reg29_15" BEL
        "rsrc1/rsrcregfile/reg29_14" BEL "rsrc1/rsrcregfile/reg29_13" BEL
        "rsrc1/rsrcregfile/reg29_12" BEL "rsrc1/rsrcregfile/reg29_11" BEL
        "rsrc1/rsrcregfile/reg29_10" BEL "rsrc1/rsrcregfile/reg29_9" BEL
        "rsrc1/rsrcregfile/reg29_8" BEL "rsrc1/rsrcregfile/reg29_7" BEL
        "rsrc1/rsrcregfile/reg29_6" BEL "rsrc1/rsrcregfile/reg29_5" BEL
        "rsrc1/rsrcregfile/reg29_4" BEL "rsrc1/rsrcregfile/reg29_3" BEL
        "rsrc1/rsrcregfile/reg29_2" BEL "rsrc1/rsrcregfile/reg29_1" BEL
        "rsrc1/rsrcregfile/reg29_0" BEL "rsrc1/rsrcregfile/reg26_31" BEL
        "rsrc1/rsrcregfile/reg26_30" BEL "rsrc1/rsrcregfile/reg26_29" BEL
        "rsrc1/rsrcregfile/reg26_28" BEL "rsrc1/rsrcregfile/reg26_27" BEL
        "rsrc1/rsrcregfile/reg26_26" BEL "rsrc1/rsrcregfile/reg26_25" BEL
        "rsrc1/rsrcregfile/reg26_24" BEL "rsrc1/rsrcregfile/reg26_23" BEL
        "rsrc1/rsrcregfile/reg26_22" BEL "rsrc1/rsrcregfile/reg26_21" BEL
        "rsrc1/rsrcregfile/reg26_20" BEL "rsrc1/rsrcregfile/reg26_19" BEL
        "rsrc1/rsrcregfile/reg26_18" BEL "rsrc1/rsrcregfile/reg26_17" BEL
        "rsrc1/rsrcregfile/reg26_16" BEL "rsrc1/rsrcregfile/reg26_15" BEL
        "rsrc1/rsrcregfile/reg26_14" BEL "rsrc1/rsrcregfile/reg26_13" BEL
        "rsrc1/rsrcregfile/reg26_12" BEL "rsrc1/rsrcregfile/reg26_11" BEL
        "rsrc1/rsrcregfile/reg26_10" BEL "rsrc1/rsrcregfile/reg26_9" BEL
        "rsrc1/rsrcregfile/reg26_8" BEL "rsrc1/rsrcregfile/reg26_7" BEL
        "rsrc1/rsrcregfile/reg26_6" BEL "rsrc1/rsrcregfile/reg26_5" BEL
        "rsrc1/rsrcregfile/reg26_4" BEL "rsrc1/rsrcregfile/reg26_3" BEL
        "rsrc1/rsrcregfile/reg26_2" BEL "rsrc1/rsrcregfile/reg26_1" BEL
        "rsrc1/rsrcregfile/reg26_0" BEL "rsrc1/rsrcregfile/reg25_31" BEL
        "rsrc1/rsrcregfile/reg25_30" BEL "rsrc1/rsrcregfile/reg25_29" BEL
        "rsrc1/rsrcregfile/reg25_28" BEL "rsrc1/rsrcregfile/reg25_27" BEL
        "rsrc1/rsrcregfile/reg25_26" BEL "rsrc1/rsrcregfile/reg25_25" BEL
        "rsrc1/rsrcregfile/reg25_24" BEL "rsrc1/rsrcregfile/reg25_23" BEL
        "rsrc1/rsrcregfile/reg25_22" BEL "rsrc1/rsrcregfile/reg25_21" BEL
        "rsrc1/rsrcregfile/reg25_20" BEL "rsrc1/rsrcregfile/reg25_19" BEL
        "rsrc1/rsrcregfile/reg25_18" BEL "rsrc1/rsrcregfile/reg25_17" BEL
        "rsrc1/rsrcregfile/reg25_16" BEL "rsrc1/rsrcregfile/reg25_15" BEL
        "rsrc1/rsrcregfile/reg25_14" BEL "rsrc1/rsrcregfile/reg25_13" BEL
        "rsrc1/rsrcregfile/reg25_12" BEL "rsrc1/rsrcregfile/reg25_11" BEL
        "rsrc1/rsrcregfile/reg25_10" BEL "rsrc1/rsrcregfile/reg25_9" BEL
        "rsrc1/rsrcregfile/reg25_8" BEL "rsrc1/rsrcregfile/reg25_7" BEL
        "rsrc1/rsrcregfile/reg25_6" BEL "rsrc1/rsrcregfile/reg25_5" BEL
        "rsrc1/rsrcregfile/reg25_4" BEL "rsrc1/rsrcregfile/reg25_3" BEL
        "rsrc1/rsrcregfile/reg25_2" BEL "rsrc1/rsrcregfile/reg25_1" BEL
        "rsrc1/rsrcregfile/reg25_0" BEL "rsrc1/rsrcregfile/reg23_31" BEL
        "rsrc1/rsrcregfile/reg23_30" BEL "rsrc1/rsrcregfile/reg23_29" BEL
        "rsrc1/rsrcregfile/reg23_28" BEL "rsrc1/rsrcregfile/reg23_27" BEL
        "rsrc1/rsrcregfile/reg23_26" BEL "rsrc1/rsrcregfile/reg23_25" BEL
        "rsrc1/rsrcregfile/reg23_24" BEL "rsrc1/rsrcregfile/reg23_23" BEL
        "rsrc1/rsrcregfile/reg23_22" BEL "rsrc1/rsrcregfile/reg23_21" BEL
        "rsrc1/rsrcregfile/reg23_20" BEL "rsrc1/rsrcregfile/reg23_19" BEL
        "rsrc1/rsrcregfile/reg23_18" BEL "rsrc1/rsrcregfile/reg23_17" BEL
        "rsrc1/rsrcregfile/reg23_16" BEL "rsrc1/rsrcregfile/reg23_15" BEL
        "rsrc1/rsrcregfile/reg23_14" BEL "rsrc1/rsrcregfile/reg23_13" BEL
        "rsrc1/rsrcregfile/reg23_12" BEL "rsrc1/rsrcregfile/reg23_11" BEL
        "rsrc1/rsrcregfile/reg23_10" BEL "rsrc1/rsrcregfile/reg23_9" BEL
        "rsrc1/rsrcregfile/reg23_8" BEL "rsrc1/rsrcregfile/reg23_7" BEL
        "rsrc1/rsrcregfile/reg23_6" BEL "rsrc1/rsrcregfile/reg23_5" BEL
        "rsrc1/rsrcregfile/reg23_4" BEL "rsrc1/rsrcregfile/reg23_3" BEL
        "rsrc1/rsrcregfile/reg23_2" BEL "rsrc1/rsrcregfile/reg23_1" BEL
        "rsrc1/rsrcregfile/reg23_0" BEL "rsrc1/rsrcregfile/reg22_31" BEL
        "rsrc1/rsrcregfile/reg22_30" BEL "rsrc1/rsrcregfile/reg22_29" BEL
        "rsrc1/rsrcregfile/reg22_28" BEL "rsrc1/rsrcregfile/reg22_27" BEL
        "rsrc1/rsrcregfile/reg22_26" BEL "rsrc1/rsrcregfile/reg22_25" BEL
        "rsrc1/rsrcregfile/reg22_24" BEL "rsrc1/rsrcregfile/reg22_23" BEL
        "rsrc1/rsrcregfile/reg22_22" BEL "rsrc1/rsrcregfile/reg22_21" BEL
        "rsrc1/rsrcregfile/reg22_20" BEL "rsrc1/rsrcregfile/reg22_19" BEL
        "rsrc1/rsrcregfile/reg22_18" BEL "rsrc1/rsrcregfile/reg22_17" BEL
        "rsrc1/rsrcregfile/reg22_16" BEL "rsrc1/rsrcregfile/reg22_15" BEL
        "rsrc1/rsrcregfile/reg22_14" BEL "rsrc1/rsrcregfile/reg22_13" BEL
        "rsrc1/rsrcregfile/reg22_12" BEL "rsrc1/rsrcregfile/reg22_11" BEL
        "rsrc1/rsrcregfile/reg22_10" BEL "rsrc1/rsrcregfile/reg22_9" BEL
        "rsrc1/rsrcregfile/reg22_8" BEL "rsrc1/rsrcregfile/reg22_7" BEL
        "rsrc1/rsrcregfile/reg22_6" BEL "rsrc1/rsrcregfile/reg22_5" BEL
        "rsrc1/rsrcregfile/reg22_4" BEL "rsrc1/rsrcregfile/reg22_3" BEL
        "rsrc1/rsrcregfile/reg22_2" BEL "rsrc1/rsrcregfile/reg22_1" BEL
        "rsrc1/rsrcregfile/reg22_0" BEL "rsrc1/rsrcregfile/reg24_31" BEL
        "rsrc1/rsrcregfile/reg24_30" BEL "rsrc1/rsrcregfile/reg24_29" BEL
        "rsrc1/rsrcregfile/reg24_28" BEL "rsrc1/rsrcregfile/reg24_27" BEL
        "rsrc1/rsrcregfile/reg24_26" BEL "rsrc1/rsrcregfile/reg24_25" BEL
        "rsrc1/rsrcregfile/reg24_24" BEL "rsrc1/rsrcregfile/reg24_23" BEL
        "rsrc1/rsrcregfile/reg24_22" BEL "rsrc1/rsrcregfile/reg24_21" BEL
        "rsrc1/rsrcregfile/reg24_20" BEL "rsrc1/rsrcregfile/reg24_19" BEL
        "rsrc1/rsrcregfile/reg24_18" BEL "rsrc1/rsrcregfile/reg24_17" BEL
        "rsrc1/rsrcregfile/reg24_16" BEL "rsrc1/rsrcregfile/reg24_15" BEL
        "rsrc1/rsrcregfile/reg24_14" BEL "rsrc1/rsrcregfile/reg24_13" BEL
        "rsrc1/rsrcregfile/reg24_12" BEL "rsrc1/rsrcregfile/reg24_11" BEL
        "rsrc1/rsrcregfile/reg24_10" BEL "rsrc1/rsrcregfile/reg24_9" BEL
        "rsrc1/rsrcregfile/reg24_8" BEL "rsrc1/rsrcregfile/reg24_7" BEL
        "rsrc1/rsrcregfile/reg24_6" BEL "rsrc1/rsrcregfile/reg24_5" BEL
        "rsrc1/rsrcregfile/reg24_4" BEL "rsrc1/rsrcregfile/reg24_3" BEL
        "rsrc1/rsrcregfile/reg24_2" BEL "rsrc1/rsrcregfile/reg24_1" BEL
        "rsrc1/rsrcregfile/reg24_0" BEL "rsrc1/rsrcregfile/reg21_31" BEL
        "rsrc1/rsrcregfile/reg21_30" BEL "rsrc1/rsrcregfile/reg21_29" BEL
        "rsrc1/rsrcregfile/reg21_28" BEL "rsrc1/rsrcregfile/reg21_27" BEL
        "rsrc1/rsrcregfile/reg21_26" BEL "rsrc1/rsrcregfile/reg21_25" BEL
        "rsrc1/rsrcregfile/reg21_24" BEL "rsrc1/rsrcregfile/reg21_23" BEL
        "rsrc1/rsrcregfile/reg21_22" BEL "rsrc1/rsrcregfile/reg21_21" BEL
        "rsrc1/rsrcregfile/reg21_20" BEL "rsrc1/rsrcregfile/reg21_19" BEL
        "rsrc1/rsrcregfile/reg21_18" BEL "rsrc1/rsrcregfile/reg21_17" BEL
        "rsrc1/rsrcregfile/reg21_16" BEL "rsrc1/rsrcregfile/reg21_15" BEL
        "rsrc1/rsrcregfile/reg21_14" BEL "rsrc1/rsrcregfile/reg21_13" BEL
        "rsrc1/rsrcregfile/reg21_12" BEL "rsrc1/rsrcregfile/reg21_11" BEL
        "rsrc1/rsrcregfile/reg21_10" BEL "rsrc1/rsrcregfile/reg21_9" BEL
        "rsrc1/rsrcregfile/reg21_8" BEL "rsrc1/rsrcregfile/reg21_7" BEL
        "rsrc1/rsrcregfile/reg21_6" BEL "rsrc1/rsrcregfile/reg21_5" BEL
        "rsrc1/rsrcregfile/reg21_4" BEL "rsrc1/rsrcregfile/reg21_3" BEL
        "rsrc1/rsrcregfile/reg21_2" BEL "rsrc1/rsrcregfile/reg21_1" BEL
        "rsrc1/rsrcregfile/reg21_0" BEL "rsrc1/rsrcregfile/reg20_31" BEL
        "rsrc1/rsrcregfile/reg20_30" BEL "rsrc1/rsrcregfile/reg20_29" BEL
        "rsrc1/rsrcregfile/reg20_28" BEL "rsrc1/rsrcregfile/reg20_27" BEL
        "rsrc1/rsrcregfile/reg20_26" BEL "rsrc1/rsrcregfile/reg20_25" BEL
        "rsrc1/rsrcregfile/reg20_24" BEL "rsrc1/rsrcregfile/reg20_23" BEL
        "rsrc1/rsrcregfile/reg20_22" BEL "rsrc1/rsrcregfile/reg20_21" BEL
        "rsrc1/rsrcregfile/reg20_20" BEL "rsrc1/rsrcregfile/reg20_19" BEL
        "rsrc1/rsrcregfile/reg20_18" BEL "rsrc1/rsrcregfile/reg20_17" BEL
        "rsrc1/rsrcregfile/reg20_16" BEL "rsrc1/rsrcregfile/reg20_15" BEL
        "rsrc1/rsrcregfile/reg20_14" BEL "rsrc1/rsrcregfile/reg20_13" BEL
        "rsrc1/rsrcregfile/reg20_12" BEL "rsrc1/rsrcregfile/reg20_11" BEL
        "rsrc1/rsrcregfile/reg20_10" BEL "rsrc1/rsrcregfile/reg20_9" BEL
        "rsrc1/rsrcregfile/reg20_8" BEL "rsrc1/rsrcregfile/reg20_7" BEL
        "rsrc1/rsrcregfile/reg20_6" BEL "rsrc1/rsrcregfile/reg20_5" BEL
        "rsrc1/rsrcregfile/reg20_4" BEL "rsrc1/rsrcregfile/reg20_3" BEL
        "rsrc1/rsrcregfile/reg20_2" BEL "rsrc1/rsrcregfile/reg20_1" BEL
        "rsrc1/rsrcregfile/reg20_0" BEL "rsrc1/rsrcregfile/reg18_31" BEL
        "rsrc1/rsrcregfile/reg18_30" BEL "rsrc1/rsrcregfile/reg18_29" BEL
        "rsrc1/rsrcregfile/reg18_28" BEL "rsrc1/rsrcregfile/reg18_27" BEL
        "rsrc1/rsrcregfile/reg18_26" BEL "rsrc1/rsrcregfile/reg18_25" BEL
        "rsrc1/rsrcregfile/reg18_24" BEL "rsrc1/rsrcregfile/reg18_23" BEL
        "rsrc1/rsrcregfile/reg18_22" BEL "rsrc1/rsrcregfile/reg18_21" BEL
        "rsrc1/rsrcregfile/reg18_20" BEL "rsrc1/rsrcregfile/reg18_19" BEL
        "rsrc1/rsrcregfile/reg18_18" BEL "rsrc1/rsrcregfile/reg18_17" BEL
        "rsrc1/rsrcregfile/reg18_16" BEL "rsrc1/rsrcregfile/reg18_15" BEL
        "rsrc1/rsrcregfile/reg18_14" BEL "rsrc1/rsrcregfile/reg18_13" BEL
        "rsrc1/rsrcregfile/reg18_12" BEL "rsrc1/rsrcregfile/reg18_11" BEL
        "rsrc1/rsrcregfile/reg18_10" BEL "rsrc1/rsrcregfile/reg18_9" BEL
        "rsrc1/rsrcregfile/reg18_8" BEL "rsrc1/rsrcregfile/reg18_7" BEL
        "rsrc1/rsrcregfile/reg18_6" BEL "rsrc1/rsrcregfile/reg18_5" BEL
        "rsrc1/rsrcregfile/reg18_4" BEL "rsrc1/rsrcregfile/reg18_3" BEL
        "rsrc1/rsrcregfile/reg18_2" BEL "rsrc1/rsrcregfile/reg18_1" BEL
        "rsrc1/rsrcregfile/reg18_0" BEL "rsrc1/rsrcregfile/reg17_31" BEL
        "rsrc1/rsrcregfile/reg17_30" BEL "rsrc1/rsrcregfile/reg17_29" BEL
        "rsrc1/rsrcregfile/reg17_28" BEL "rsrc1/rsrcregfile/reg17_27" BEL
        "rsrc1/rsrcregfile/reg17_26" BEL "rsrc1/rsrcregfile/reg17_25" BEL
        "rsrc1/rsrcregfile/reg17_24" BEL "rsrc1/rsrcregfile/reg17_23" BEL
        "rsrc1/rsrcregfile/reg17_22" BEL "rsrc1/rsrcregfile/reg17_21" BEL
        "rsrc1/rsrcregfile/reg17_20" BEL "rsrc1/rsrcregfile/reg17_19" BEL
        "rsrc1/rsrcregfile/reg17_18" BEL "rsrc1/rsrcregfile/reg17_17" BEL
        "rsrc1/rsrcregfile/reg17_16" BEL "rsrc1/rsrcregfile/reg17_15" BEL
        "rsrc1/rsrcregfile/reg17_14" BEL "rsrc1/rsrcregfile/reg17_13" BEL
        "rsrc1/rsrcregfile/reg17_12" BEL "rsrc1/rsrcregfile/reg17_11" BEL
        "rsrc1/rsrcregfile/reg17_10" BEL "rsrc1/rsrcregfile/reg17_9" BEL
        "rsrc1/rsrcregfile/reg17_8" BEL "rsrc1/rsrcregfile/reg17_7" BEL
        "rsrc1/rsrcregfile/reg17_6" BEL "rsrc1/rsrcregfile/reg17_5" BEL
        "rsrc1/rsrcregfile/reg17_4" BEL "rsrc1/rsrcregfile/reg17_3" BEL
        "rsrc1/rsrcregfile/reg17_2" BEL "rsrc1/rsrcregfile/reg17_1" BEL
        "rsrc1/rsrcregfile/reg17_0" BEL "rsrc1/rsrcregfile/reg19_31" BEL
        "rsrc1/rsrcregfile/reg19_30" BEL "rsrc1/rsrcregfile/reg19_29" BEL
        "rsrc1/rsrcregfile/reg19_28" BEL "rsrc1/rsrcregfile/reg19_27" BEL
        "rsrc1/rsrcregfile/reg19_26" BEL "rsrc1/rsrcregfile/reg19_25" BEL
        "rsrc1/rsrcregfile/reg19_24" BEL "rsrc1/rsrcregfile/reg19_23" BEL
        "rsrc1/rsrcregfile/reg19_22" BEL "rsrc1/rsrcregfile/reg19_21" BEL
        "rsrc1/rsrcregfile/reg19_20" BEL "rsrc1/rsrcregfile/reg19_19" BEL
        "rsrc1/rsrcregfile/reg19_18" BEL "rsrc1/rsrcregfile/reg19_17" BEL
        "rsrc1/rsrcregfile/reg19_16" BEL "rsrc1/rsrcregfile/reg19_15" BEL
        "rsrc1/rsrcregfile/reg19_14" BEL "rsrc1/rsrcregfile/reg19_13" BEL
        "rsrc1/rsrcregfile/reg19_12" BEL "rsrc1/rsrcregfile/reg19_11" BEL
        "rsrc1/rsrcregfile/reg19_10" BEL "rsrc1/rsrcregfile/reg19_9" BEL
        "rsrc1/rsrcregfile/reg19_8" BEL "rsrc1/rsrcregfile/reg19_7" BEL
        "rsrc1/rsrcregfile/reg19_6" BEL "rsrc1/rsrcregfile/reg19_5" BEL
        "rsrc1/rsrcregfile/reg19_4" BEL "rsrc1/rsrcregfile/reg19_3" BEL
        "rsrc1/rsrcregfile/reg19_2" BEL "rsrc1/rsrcregfile/reg19_1" BEL
        "rsrc1/rsrcregfile/reg19_0" BEL "rsrc1/rsrcregfile/reg16_31" BEL
        "rsrc1/rsrcregfile/reg16_30" BEL "rsrc1/rsrcregfile/reg16_29" BEL
        "rsrc1/rsrcregfile/reg16_28" BEL "rsrc1/rsrcregfile/reg16_27" BEL
        "rsrc1/rsrcregfile/reg16_26" BEL "rsrc1/rsrcregfile/reg16_25" BEL
        "rsrc1/rsrcregfile/reg16_24" BEL "rsrc1/rsrcregfile/reg16_23" BEL
        "rsrc1/rsrcregfile/reg16_22" BEL "rsrc1/rsrcregfile/reg16_21" BEL
        "rsrc1/rsrcregfile/reg16_20" BEL "rsrc1/rsrcregfile/reg16_19" BEL
        "rsrc1/rsrcregfile/reg16_18" BEL "rsrc1/rsrcregfile/reg16_17" BEL
        "rsrc1/rsrcregfile/reg16_16" BEL "rsrc1/rsrcregfile/reg16_15" BEL
        "rsrc1/rsrcregfile/reg16_14" BEL "rsrc1/rsrcregfile/reg16_13" BEL
        "rsrc1/rsrcregfile/reg16_12" BEL "rsrc1/rsrcregfile/reg16_11" BEL
        "rsrc1/rsrcregfile/reg16_10" BEL "rsrc1/rsrcregfile/reg16_9" BEL
        "rsrc1/rsrcregfile/reg16_8" BEL "rsrc1/rsrcregfile/reg16_7" BEL
        "rsrc1/rsrcregfile/reg16_6" BEL "rsrc1/rsrcregfile/reg16_5" BEL
        "rsrc1/rsrcregfile/reg16_4" BEL "rsrc1/rsrcregfile/reg16_3" BEL
        "rsrc1/rsrcregfile/reg16_2" BEL "rsrc1/rsrcregfile/reg16_1" BEL
        "rsrc1/rsrcregfile/reg16_0" BEL "rsrc1/rsrcregfile/reg15_31" BEL
        "rsrc1/rsrcregfile/reg15_30" BEL "rsrc1/rsrcregfile/reg15_29" BEL
        "rsrc1/rsrcregfile/reg15_28" BEL "rsrc1/rsrcregfile/reg15_27" BEL
        "rsrc1/rsrcregfile/reg15_26" BEL "rsrc1/rsrcregfile/reg15_25" BEL
        "rsrc1/rsrcregfile/reg15_24" BEL "rsrc1/rsrcregfile/reg15_23" BEL
        "rsrc1/rsrcregfile/reg15_22" BEL "rsrc1/rsrcregfile/reg15_21" BEL
        "rsrc1/rsrcregfile/reg15_20" BEL "rsrc1/rsrcregfile/reg15_19" BEL
        "rsrc1/rsrcregfile/reg15_18" BEL "rsrc1/rsrcregfile/reg15_17" BEL
        "rsrc1/rsrcregfile/reg15_16" BEL "rsrc1/rsrcregfile/reg15_15" BEL
        "rsrc1/rsrcregfile/reg15_14" BEL "rsrc1/rsrcregfile/reg15_13" BEL
        "rsrc1/rsrcregfile/reg15_12" BEL "rsrc1/rsrcregfile/reg15_11" BEL
        "rsrc1/rsrcregfile/reg15_10" BEL "rsrc1/rsrcregfile/reg15_9" BEL
        "rsrc1/rsrcregfile/reg15_8" BEL "rsrc1/rsrcregfile/reg15_7" BEL
        "rsrc1/rsrcregfile/reg15_6" BEL "rsrc1/rsrcregfile/reg15_5" BEL
        "rsrc1/rsrcregfile/reg15_4" BEL "rsrc1/rsrcregfile/reg15_3" BEL
        "rsrc1/rsrcregfile/reg15_2" BEL "rsrc1/rsrcregfile/reg15_1" BEL
        "rsrc1/rsrcregfile/reg15_0" BEL "rsrc1/rsrcregfile/reg13_31" BEL
        "rsrc1/rsrcregfile/reg13_30" BEL "rsrc1/rsrcregfile/reg13_29" BEL
        "rsrc1/rsrcregfile/reg13_28" BEL "rsrc1/rsrcregfile/reg13_27" BEL
        "rsrc1/rsrcregfile/reg13_26" BEL "rsrc1/rsrcregfile/reg13_25" BEL
        "rsrc1/rsrcregfile/reg13_24" BEL "rsrc1/rsrcregfile/reg13_23" BEL
        "rsrc1/rsrcregfile/reg13_22" BEL "rsrc1/rsrcregfile/reg13_21" BEL
        "rsrc1/rsrcregfile/reg13_20" BEL "rsrc1/rsrcregfile/reg13_19" BEL
        "rsrc1/rsrcregfile/reg13_18" BEL "rsrc1/rsrcregfile/reg13_17" BEL
        "rsrc1/rsrcregfile/reg13_16" BEL "rsrc1/rsrcregfile/reg13_15" BEL
        "rsrc1/rsrcregfile/reg13_14" BEL "rsrc1/rsrcregfile/reg13_13" BEL
        "rsrc1/rsrcregfile/reg13_12" BEL "rsrc1/rsrcregfile/reg13_11" BEL
        "rsrc1/rsrcregfile/reg13_10" BEL "rsrc1/rsrcregfile/reg13_9" BEL
        "rsrc1/rsrcregfile/reg13_8" BEL "rsrc1/rsrcregfile/reg13_7" BEL
        "rsrc1/rsrcregfile/reg13_6" BEL "rsrc1/rsrcregfile/reg13_5" BEL
        "rsrc1/rsrcregfile/reg13_4" BEL "rsrc1/rsrcregfile/reg13_3" BEL
        "rsrc1/rsrcregfile/reg13_2" BEL "rsrc1/rsrcregfile/reg13_1" BEL
        "rsrc1/rsrcregfile/reg13_0" BEL "rsrc1/rsrcregfile/reg12_31" BEL
        "rsrc1/rsrcregfile/reg12_30" BEL "rsrc1/rsrcregfile/reg12_29" BEL
        "rsrc1/rsrcregfile/reg12_28" BEL "rsrc1/rsrcregfile/reg12_27" BEL
        "rsrc1/rsrcregfile/reg12_26" BEL "rsrc1/rsrcregfile/reg12_25" BEL
        "rsrc1/rsrcregfile/reg12_24" BEL "rsrc1/rsrcregfile/reg12_23" BEL
        "rsrc1/rsrcregfile/reg12_22" BEL "rsrc1/rsrcregfile/reg12_21" BEL
        "rsrc1/rsrcregfile/reg12_20" BEL "rsrc1/rsrcregfile/reg12_19" BEL
        "rsrc1/rsrcregfile/reg12_18" BEL "rsrc1/rsrcregfile/reg12_17" BEL
        "rsrc1/rsrcregfile/reg12_16" BEL "rsrc1/rsrcregfile/reg12_15" BEL
        "rsrc1/rsrcregfile/reg12_14" BEL "rsrc1/rsrcregfile/reg12_13" BEL
        "rsrc1/rsrcregfile/reg12_12" BEL "rsrc1/rsrcregfile/reg12_11" BEL
        "rsrc1/rsrcregfile/reg12_10" BEL "rsrc1/rsrcregfile/reg12_9" BEL
        "rsrc1/rsrcregfile/reg12_8" BEL "rsrc1/rsrcregfile/reg12_7" BEL
        "rsrc1/rsrcregfile/reg12_6" BEL "rsrc1/rsrcregfile/reg12_5" BEL
        "rsrc1/rsrcregfile/reg12_4" BEL "rsrc1/rsrcregfile/reg12_3" BEL
        "rsrc1/rsrcregfile/reg12_2" BEL "rsrc1/rsrcregfile/reg12_1" BEL
        "rsrc1/rsrcregfile/reg12_0" BEL "rsrc1/rsrcregfile/reg14_31" BEL
        "rsrc1/rsrcregfile/reg14_30" BEL "rsrc1/rsrcregfile/reg14_29" BEL
        "rsrc1/rsrcregfile/reg14_28" BEL "rsrc1/rsrcregfile/reg14_27" BEL
        "rsrc1/rsrcregfile/reg14_26" BEL "rsrc1/rsrcregfile/reg14_25" BEL
        "rsrc1/rsrcregfile/reg14_24" BEL "rsrc1/rsrcregfile/reg14_23" BEL
        "rsrc1/rsrcregfile/reg14_22" BEL "rsrc1/rsrcregfile/reg14_21" BEL
        "rsrc1/rsrcregfile/reg14_20" BEL "rsrc1/rsrcregfile/reg14_19" BEL
        "rsrc1/rsrcregfile/reg14_18" BEL "rsrc1/rsrcregfile/reg14_17" BEL
        "rsrc1/rsrcregfile/reg14_16" BEL "rsrc1/rsrcregfile/reg14_15" BEL
        "rsrc1/rsrcregfile/reg14_14" BEL "rsrc1/rsrcregfile/reg14_13" BEL
        "rsrc1/rsrcregfile/reg14_12" BEL "rsrc1/rsrcregfile/reg14_11" BEL
        "rsrc1/rsrcregfile/reg14_10" BEL "rsrc1/rsrcregfile/reg14_9" BEL
        "rsrc1/rsrcregfile/reg14_8" BEL "rsrc1/rsrcregfile/reg14_7" BEL
        "rsrc1/rsrcregfile/reg14_6" BEL "rsrc1/rsrcregfile/reg14_5" BEL
        "rsrc1/rsrcregfile/reg14_4" BEL "rsrc1/rsrcregfile/reg14_3" BEL
        "rsrc1/rsrcregfile/reg14_2" BEL "rsrc1/rsrcregfile/reg14_1" BEL
        "rsrc1/rsrcregfile/reg14_0" BEL "rsrc1/rsrcregfile/reg11_31" BEL
        "rsrc1/rsrcregfile/reg11_30" BEL "rsrc1/rsrcregfile/reg11_29" BEL
        "rsrc1/rsrcregfile/reg11_28" BEL "rsrc1/rsrcregfile/reg11_27" BEL
        "rsrc1/rsrcregfile/reg11_26" BEL "rsrc1/rsrcregfile/reg11_25" BEL
        "rsrc1/rsrcregfile/reg11_24" BEL "rsrc1/rsrcregfile/reg11_23" BEL
        "rsrc1/rsrcregfile/reg11_22" BEL "rsrc1/rsrcregfile/reg11_21" BEL
        "rsrc1/rsrcregfile/reg11_20" BEL "rsrc1/rsrcregfile/reg11_19" BEL
        "rsrc1/rsrcregfile/reg11_18" BEL "rsrc1/rsrcregfile/reg11_17" BEL
        "rsrc1/rsrcregfile/reg11_16" BEL "rsrc1/rsrcregfile/reg11_15" BEL
        "rsrc1/rsrcregfile/reg11_14" BEL "rsrc1/rsrcregfile/reg11_13" BEL
        "rsrc1/rsrcregfile/reg11_12" BEL "rsrc1/rsrcregfile/reg11_11" BEL
        "rsrc1/rsrcregfile/reg11_10" BEL "rsrc1/rsrcregfile/reg11_9" BEL
        "rsrc1/rsrcregfile/reg11_8" BEL "rsrc1/rsrcregfile/reg11_7" BEL
        "rsrc1/rsrcregfile/reg11_6" BEL "rsrc1/rsrcregfile/reg11_5" BEL
        "rsrc1/rsrcregfile/reg11_4" BEL "rsrc1/rsrcregfile/reg11_3" BEL
        "rsrc1/rsrcregfile/reg11_2" BEL "rsrc1/rsrcregfile/reg11_1" BEL
        "rsrc1/rsrcregfile/reg11_0" BEL "rsrc1/rsrcregfile/reg10_31" BEL
        "rsrc1/rsrcregfile/reg10_30" BEL "rsrc1/rsrcregfile/reg10_29" BEL
        "rsrc1/rsrcregfile/reg10_28" BEL "rsrc1/rsrcregfile/reg10_27" BEL
        "rsrc1/rsrcregfile/reg10_26" BEL "rsrc1/rsrcregfile/reg10_25" BEL
        "rsrc1/rsrcregfile/reg10_24" BEL "rsrc1/rsrcregfile/reg10_23" BEL
        "rsrc1/rsrcregfile/reg10_22" BEL "rsrc1/rsrcregfile/reg10_21" BEL
        "rsrc1/rsrcregfile/reg10_20" BEL "rsrc1/rsrcregfile/reg10_19" BEL
        "rsrc1/rsrcregfile/reg10_18" BEL "rsrc1/rsrcregfile/reg10_17" BEL
        "rsrc1/rsrcregfile/reg10_16" BEL "rsrc1/rsrcregfile/reg10_15" BEL
        "rsrc1/rsrcregfile/reg10_14" BEL "rsrc1/rsrcregfile/reg10_13" BEL
        "rsrc1/rsrcregfile/reg10_12" BEL "rsrc1/rsrcregfile/reg10_11" BEL
        "rsrc1/rsrcregfile/reg10_10" BEL "rsrc1/rsrcregfile/reg10_9" BEL
        "rsrc1/rsrcregfile/reg10_8" BEL "rsrc1/rsrcregfile/reg10_7" BEL
        "rsrc1/rsrcregfile/reg10_6" BEL "rsrc1/rsrcregfile/reg10_5" BEL
        "rsrc1/rsrcregfile/reg10_4" BEL "rsrc1/rsrcregfile/reg10_3" BEL
        "rsrc1/rsrcregfile/reg10_2" BEL "rsrc1/rsrcregfile/reg10_1" BEL
        "rsrc1/rsrcregfile/reg10_0" BEL "rsrc1/rsrcregfile/reg8_31" BEL
        "rsrc1/rsrcregfile/reg8_30" BEL "rsrc1/rsrcregfile/reg8_29" BEL
        "rsrc1/rsrcregfile/reg8_28" BEL "rsrc1/rsrcregfile/reg8_27" BEL
        "rsrc1/rsrcregfile/reg8_26" BEL "rsrc1/rsrcregfile/reg8_25" BEL
        "rsrc1/rsrcregfile/reg8_24" BEL "rsrc1/rsrcregfile/reg8_23" BEL
        "rsrc1/rsrcregfile/reg8_22" BEL "rsrc1/rsrcregfile/reg8_21" BEL
        "rsrc1/rsrcregfile/reg8_20" BEL "rsrc1/rsrcregfile/reg8_19" BEL
        "rsrc1/rsrcregfile/reg8_18" BEL "rsrc1/rsrcregfile/reg8_17" BEL
        "rsrc1/rsrcregfile/reg8_16" BEL "rsrc1/rsrcregfile/reg8_15" BEL
        "rsrc1/rsrcregfile/reg8_14" BEL "rsrc1/rsrcregfile/reg8_13" BEL
        "rsrc1/rsrcregfile/reg8_12" BEL "rsrc1/rsrcregfile/reg8_11" BEL
        "rsrc1/rsrcregfile/reg8_10" BEL "rsrc1/rsrcregfile/reg8_9" BEL
        "rsrc1/rsrcregfile/reg8_8" BEL "rsrc1/rsrcregfile/reg8_7" BEL
        "rsrc1/rsrcregfile/reg8_6" BEL "rsrc1/rsrcregfile/reg8_5" BEL
        "rsrc1/rsrcregfile/reg8_4" BEL "rsrc1/rsrcregfile/reg8_3" BEL
        "rsrc1/rsrcregfile/reg8_2" BEL "rsrc1/rsrcregfile/reg8_1" BEL
        "rsrc1/rsrcregfile/reg8_0" BEL "rsrc1/rsrcregfile/reg7_31" BEL
        "rsrc1/rsrcregfile/reg7_30" BEL "rsrc1/rsrcregfile/reg7_29" BEL
        "rsrc1/rsrcregfile/reg7_28" BEL "rsrc1/rsrcregfile/reg7_27" BEL
        "rsrc1/rsrcregfile/reg7_26" BEL "rsrc1/rsrcregfile/reg7_25" BEL
        "rsrc1/rsrcregfile/reg7_24" BEL "rsrc1/rsrcregfile/reg7_23" BEL
        "rsrc1/rsrcregfile/reg7_22" BEL "rsrc1/rsrcregfile/reg7_21" BEL
        "rsrc1/rsrcregfile/reg7_20" BEL "rsrc1/rsrcregfile/reg7_19" BEL
        "rsrc1/rsrcregfile/reg7_18" BEL "rsrc1/rsrcregfile/reg7_17" BEL
        "rsrc1/rsrcregfile/reg7_16" BEL "rsrc1/rsrcregfile/reg7_15" BEL
        "rsrc1/rsrcregfile/reg7_14" BEL "rsrc1/rsrcregfile/reg7_13" BEL
        "rsrc1/rsrcregfile/reg7_12" BEL "rsrc1/rsrcregfile/reg7_11" BEL
        "rsrc1/rsrcregfile/reg7_10" BEL "rsrc1/rsrcregfile/reg7_9" BEL
        "rsrc1/rsrcregfile/reg7_8" BEL "rsrc1/rsrcregfile/reg7_7" BEL
        "rsrc1/rsrcregfile/reg7_6" BEL "rsrc1/rsrcregfile/reg7_5" BEL
        "rsrc1/rsrcregfile/reg7_4" BEL "rsrc1/rsrcregfile/reg7_3" BEL
        "rsrc1/rsrcregfile/reg7_2" BEL "rsrc1/rsrcregfile/reg7_1" BEL
        "rsrc1/rsrcregfile/reg7_0" BEL "rsrc1/rsrcregfile/reg9_31" BEL
        "rsrc1/rsrcregfile/reg9_30" BEL "rsrc1/rsrcregfile/reg9_29" BEL
        "rsrc1/rsrcregfile/reg9_28" BEL "rsrc1/rsrcregfile/reg9_27" BEL
        "rsrc1/rsrcregfile/reg9_26" BEL "rsrc1/rsrcregfile/reg9_25" BEL
        "rsrc1/rsrcregfile/reg9_24" BEL "rsrc1/rsrcregfile/reg9_23" BEL
        "rsrc1/rsrcregfile/reg9_22" BEL "rsrc1/rsrcregfile/reg9_21" BEL
        "rsrc1/rsrcregfile/reg9_20" BEL "rsrc1/rsrcregfile/reg9_19" BEL
        "rsrc1/rsrcregfile/reg9_18" BEL "rsrc1/rsrcregfile/reg9_17" BEL
        "rsrc1/rsrcregfile/reg9_16" BEL "rsrc1/rsrcregfile/reg9_15" BEL
        "rsrc1/rsrcregfile/reg9_14" BEL "rsrc1/rsrcregfile/reg9_13" BEL
        "rsrc1/rsrcregfile/reg9_12" BEL "rsrc1/rsrcregfile/reg9_11" BEL
        "rsrc1/rsrcregfile/reg9_10" BEL "rsrc1/rsrcregfile/reg9_9" BEL
        "rsrc1/rsrcregfile/reg9_8" BEL "rsrc1/rsrcregfile/reg9_7" BEL
        "rsrc1/rsrcregfile/reg9_6" BEL "rsrc1/rsrcregfile/reg9_5" BEL
        "rsrc1/rsrcregfile/reg9_4" BEL "rsrc1/rsrcregfile/reg9_3" BEL
        "rsrc1/rsrcregfile/reg9_2" BEL "rsrc1/rsrcregfile/reg9_1" BEL
        "rsrc1/rsrcregfile/reg9_0" BEL "rsrc1/rsrcregfile/reg5_31" BEL
        "rsrc1/rsrcregfile/reg5_30" BEL "rsrc1/rsrcregfile/reg5_29" BEL
        "rsrc1/rsrcregfile/reg5_28" BEL "rsrc1/rsrcregfile/reg5_27" BEL
        "rsrc1/rsrcregfile/reg5_26" BEL "rsrc1/rsrcregfile/reg5_25" BEL
        "rsrc1/rsrcregfile/reg5_24" BEL "rsrc1/rsrcregfile/reg5_23" BEL
        "rsrc1/rsrcregfile/reg5_22" BEL "rsrc1/rsrcregfile/reg5_21" BEL
        "rsrc1/rsrcregfile/reg5_20" BEL "rsrc1/rsrcregfile/reg5_19" BEL
        "rsrc1/rsrcregfile/reg5_18" BEL "rsrc1/rsrcregfile/reg5_17" BEL
        "rsrc1/rsrcregfile/reg5_16" BEL "rsrc1/rsrcregfile/reg5_15" BEL
        "rsrc1/rsrcregfile/reg5_14" BEL "rsrc1/rsrcregfile/reg5_13" BEL
        "rsrc1/rsrcregfile/reg5_12" BEL "rsrc1/rsrcregfile/reg5_11" BEL
        "rsrc1/rsrcregfile/reg5_10" BEL "rsrc1/rsrcregfile/reg5_9" BEL
        "rsrc1/rsrcregfile/reg5_8" BEL "rsrc1/rsrcregfile/reg5_7" BEL
        "rsrc1/rsrcregfile/reg5_6" BEL "rsrc1/rsrcregfile/reg5_5" BEL
        "rsrc1/rsrcregfile/reg5_4" BEL "rsrc1/rsrcregfile/reg5_3" BEL
        "rsrc1/rsrcregfile/reg5_2" BEL "rsrc1/rsrcregfile/reg5_1" BEL
        "rsrc1/rsrcregfile/reg5_0" BEL "rsrc1/rsrcregfile/reg4_31" BEL
        "rsrc1/rsrcregfile/reg4_30" BEL "rsrc1/rsrcregfile/reg4_29" BEL
        "rsrc1/rsrcregfile/reg4_28" BEL "rsrc1/rsrcregfile/reg4_27" BEL
        "rsrc1/rsrcregfile/reg4_26" BEL "rsrc1/rsrcregfile/reg4_25" BEL
        "rsrc1/rsrcregfile/reg4_24" BEL "rsrc1/rsrcregfile/reg4_23" BEL
        "rsrc1/rsrcregfile/reg4_22" BEL "rsrc1/rsrcregfile/reg4_21" BEL
        "rsrc1/rsrcregfile/reg4_20" BEL "rsrc1/rsrcregfile/reg4_19" BEL
        "rsrc1/rsrcregfile/reg4_18" BEL "rsrc1/rsrcregfile/reg4_17" BEL
        "rsrc1/rsrcregfile/reg4_16" BEL "rsrc1/rsrcregfile/reg4_15" BEL
        "rsrc1/rsrcregfile/reg4_14" BEL "rsrc1/rsrcregfile/reg4_13" BEL
        "rsrc1/rsrcregfile/reg4_12" BEL "rsrc1/rsrcregfile/reg4_11" BEL
        "rsrc1/rsrcregfile/reg4_10" BEL "rsrc1/rsrcregfile/reg4_9" BEL
        "rsrc1/rsrcregfile/reg4_8" BEL "rsrc1/rsrcregfile/reg4_7" BEL
        "rsrc1/rsrcregfile/reg4_6" BEL "rsrc1/rsrcregfile/reg4_5" BEL
        "rsrc1/rsrcregfile/reg4_4" BEL "rsrc1/rsrcregfile/reg4_3" BEL
        "rsrc1/rsrcregfile/reg4_2" BEL "rsrc1/rsrcregfile/reg4_1" BEL
        "rsrc1/rsrcregfile/reg4_0" BEL "rsrc1/rsrcregfile/reg6_31" BEL
        "rsrc1/rsrcregfile/reg6_30" BEL "rsrc1/rsrcregfile/reg6_29" BEL
        "rsrc1/rsrcregfile/reg6_28" BEL "rsrc1/rsrcregfile/reg6_27" BEL
        "rsrc1/rsrcregfile/reg6_26" BEL "rsrc1/rsrcregfile/reg6_25" BEL
        "rsrc1/rsrcregfile/reg6_24" BEL "rsrc1/rsrcregfile/reg6_23" BEL
        "rsrc1/rsrcregfile/reg6_22" BEL "rsrc1/rsrcregfile/reg6_21" BEL
        "rsrc1/rsrcregfile/reg6_20" BEL "rsrc1/rsrcregfile/reg6_19" BEL
        "rsrc1/rsrcregfile/reg6_18" BEL "rsrc1/rsrcregfile/reg6_17" BEL
        "rsrc1/rsrcregfile/reg6_16" BEL "rsrc1/rsrcregfile/reg6_15" BEL
        "rsrc1/rsrcregfile/reg6_14" BEL "rsrc1/rsrcregfile/reg6_13" BEL
        "rsrc1/rsrcregfile/reg6_12" BEL "rsrc1/rsrcregfile/reg6_11" BEL
        "rsrc1/rsrcregfile/reg6_10" BEL "rsrc1/rsrcregfile/reg6_9" BEL
        "rsrc1/rsrcregfile/reg6_8" BEL "rsrc1/rsrcregfile/reg6_7" BEL
        "rsrc1/rsrcregfile/reg6_6" BEL "rsrc1/rsrcregfile/reg6_5" BEL
        "rsrc1/rsrcregfile/reg6_4" BEL "rsrc1/rsrcregfile/reg6_3" BEL
        "rsrc1/rsrcregfile/reg6_2" BEL "rsrc1/rsrcregfile/reg6_1" BEL
        "rsrc1/rsrcregfile/reg6_0" BEL "rsrc1/rsrcregfile/reg2_31" BEL
        "rsrc1/rsrcregfile/reg2_30" BEL "rsrc1/rsrcregfile/reg2_29" BEL
        "rsrc1/rsrcregfile/reg2_28" BEL "rsrc1/rsrcregfile/reg2_27" BEL
        "rsrc1/rsrcregfile/reg2_26" BEL "rsrc1/rsrcregfile/reg2_25" BEL
        "rsrc1/rsrcregfile/reg2_24" BEL "rsrc1/rsrcregfile/reg2_23" BEL
        "rsrc1/rsrcregfile/reg2_22" BEL "rsrc1/rsrcregfile/reg2_21" BEL
        "rsrc1/rsrcregfile/reg2_20" BEL "rsrc1/rsrcregfile/reg2_19" BEL
        "rsrc1/rsrcregfile/reg2_18" BEL "rsrc1/rsrcregfile/reg2_17" BEL
        "rsrc1/rsrcregfile/reg2_16" BEL "rsrc1/rsrcregfile/reg2_15" BEL
        "rsrc1/rsrcregfile/reg2_14" BEL "rsrc1/rsrcregfile/reg2_13" BEL
        "rsrc1/rsrcregfile/reg2_12" BEL "rsrc1/rsrcregfile/reg2_11" BEL
        "rsrc1/rsrcregfile/reg2_10" BEL "rsrc1/rsrcregfile/reg2_9" BEL
        "rsrc1/rsrcregfile/reg2_8" BEL "rsrc1/rsrcregfile/reg2_7" BEL
        "rsrc1/rsrcregfile/reg2_6" BEL "rsrc1/rsrcregfile/reg2_5" BEL
        "rsrc1/rsrcregfile/reg2_4" BEL "rsrc1/rsrcregfile/reg2_3" BEL
        "rsrc1/rsrcregfile/reg2_2" BEL "rsrc1/rsrcregfile/reg2_1" BEL
        "rsrc1/rsrcregfile/reg2_0" BEL "rsrc1/rsrcregfile/reg1_31" BEL
        "rsrc1/rsrcregfile/reg1_30" BEL "rsrc1/rsrcregfile/reg1_29" BEL
        "rsrc1/rsrcregfile/reg1_28" BEL "rsrc1/rsrcregfile/reg1_27" BEL
        "rsrc1/rsrcregfile/reg1_26" BEL "rsrc1/rsrcregfile/reg1_25" BEL
        "rsrc1/rsrcregfile/reg1_24" BEL "rsrc1/rsrcregfile/reg1_23" BEL
        "rsrc1/rsrcregfile/reg1_22" BEL "rsrc1/rsrcregfile/reg1_21" BEL
        "rsrc1/rsrcregfile/reg1_20" BEL "rsrc1/rsrcregfile/reg1_19" BEL
        "rsrc1/rsrcregfile/reg1_18" BEL "rsrc1/rsrcregfile/reg1_17" BEL
        "rsrc1/rsrcregfile/reg1_16" BEL "rsrc1/rsrcregfile/reg1_15" BEL
        "rsrc1/rsrcregfile/reg1_14" BEL "rsrc1/rsrcregfile/reg1_13" BEL
        "rsrc1/rsrcregfile/reg1_12" BEL "rsrc1/rsrcregfile/reg1_11" BEL
        "rsrc1/rsrcregfile/reg1_10" BEL "rsrc1/rsrcregfile/reg1_9" BEL
        "rsrc1/rsrcregfile/reg1_8" BEL "rsrc1/rsrcregfile/reg1_7" BEL
        "rsrc1/rsrcregfile/reg1_6" BEL "rsrc1/rsrcregfile/reg1_5" BEL
        "rsrc1/rsrcregfile/reg1_4" BEL "rsrc1/rsrcregfile/reg1_3" BEL
        "rsrc1/rsrcregfile/reg1_2" BEL "rsrc1/rsrcregfile/reg1_1" BEL
        "rsrc1/rsrcregfile/reg1_0" BEL "rsrc1/rsrcregfile/reg3_31" BEL
        "rsrc1/rsrcregfile/reg3_30" BEL "rsrc1/rsrcregfile/reg3_29" BEL
        "rsrc1/rsrcregfile/reg3_28" BEL "rsrc1/rsrcregfile/reg3_27" BEL
        "rsrc1/rsrcregfile/reg3_26" BEL "rsrc1/rsrcregfile/reg3_25" BEL
        "rsrc1/rsrcregfile/reg3_24" BEL "rsrc1/rsrcregfile/reg3_23" BEL
        "rsrc1/rsrcregfile/reg3_22" BEL "rsrc1/rsrcregfile/reg3_21" BEL
        "rsrc1/rsrcregfile/reg3_20" BEL "rsrc1/rsrcregfile/reg3_19" BEL
        "rsrc1/rsrcregfile/reg3_18" BEL "rsrc1/rsrcregfile/reg3_17" BEL
        "rsrc1/rsrcregfile/reg3_16" BEL "rsrc1/rsrcregfile/reg3_15" BEL
        "rsrc1/rsrcregfile/reg3_14" BEL "rsrc1/rsrcregfile/reg3_13" BEL
        "rsrc1/rsrcregfile/reg3_12" BEL "rsrc1/rsrcregfile/reg3_11" BEL
        "rsrc1/rsrcregfile/reg3_10" BEL "rsrc1/rsrcregfile/reg3_9" BEL
        "rsrc1/rsrcregfile/reg3_8" BEL "rsrc1/rsrcregfile/reg3_7" BEL
        "rsrc1/rsrcregfile/reg3_6" BEL "rsrc1/rsrcregfile/reg3_5" BEL
        "rsrc1/rsrcregfile/reg3_4" BEL "rsrc1/rsrcregfile/reg3_3" BEL
        "rsrc1/rsrcregfile/reg3_2" BEL "rsrc1/rsrcregfile/reg3_1" BEL
        "rsrc1/rsrcregfile/reg3_0" BEL "rsrc1/rsrcmdreg/mdi_31" BEL
        "rsrc1/rsrcmdreg/mdi_30" BEL "rsrc1/rsrcmdreg/mdi_29" BEL
        "rsrc1/rsrcmdreg/mdi_28" BEL "rsrc1/rsrcmdreg/mdi_27" BEL
        "rsrc1/rsrcmdreg/mdi_26" BEL "rsrc1/rsrcmdreg/mdi_25" BEL
        "rsrc1/rsrcmdreg/mdi_24" BEL "rsrc1/rsrcmdreg/mdi_23" BEL
        "rsrc1/rsrcmdreg/mdi_22" BEL "rsrc1/rsrcmdreg/mdi_21" BEL
        "rsrc1/rsrcmdreg/mdi_20" BEL "rsrc1/rsrcmdreg/mdi_19" BEL
        "rsrc1/rsrcmdreg/mdi_18" BEL "rsrc1/rsrcmdreg/mdi_17" BEL
        "rsrc1/rsrcmdreg/mdi_16" BEL "rsrc1/rsrcmdreg/mdi_15" BEL
        "rsrc1/rsrcmdreg/mdi_14" BEL "rsrc1/rsrcmdreg/mdi_13" BEL
        "rsrc1/rsrcmdreg/mdi_12" BEL "rsrc1/rsrcmdreg/mdi_11" BEL
        "rsrc1/rsrcmdreg/mdi_10" BEL "rsrc1/rsrcmdreg/mdi_9" BEL
        "rsrc1/rsrcmdreg/mdi_8" BEL "rsrc1/rsrcmdreg/mdi_7" BEL
        "rsrc1/rsrcmdreg/mdi_6" BEL "rsrc1/rsrcmdreg/mdi_5" BEL
        "rsrc1/rsrcmdreg/mdi_4" BEL "rsrc1/rsrcmdreg/mdi_3" BEL
        "rsrc1/rsrcmdreg/mdi_2" BEL "rsrc1/rsrcmdreg/mdi_1" BEL
        "rsrc1/rsrcmdreg/mdi_0" BEL "rsrc1/rsrcmdreg/mdo_31" BEL
        "rsrc1/rsrcmdreg/mdo_30" BEL "rsrc1/rsrcmdreg/mdo_29" BEL
        "rsrc1/rsrcmdreg/mdo_28" BEL "rsrc1/rsrcmdreg/mdo_27" BEL
        "rsrc1/rsrcmdreg/mdo_26" BEL "rsrc1/rsrcmdreg/mdo_25" BEL
        "rsrc1/rsrcmdreg/mdo_24" BEL "rsrc1/rsrcmdreg/mdo_23" BEL
        "rsrc1/rsrcmdreg/mdo_22" BEL "rsrc1/rsrcmdreg/mdo_21" BEL
        "rsrc1/rsrcmdreg/mdo_20" BEL "rsrc1/rsrcmdreg/mdo_19" BEL
        "rsrc1/rsrcmdreg/mdo_18" BEL "rsrc1/rsrcmdreg/mdo_17" BEL
        "rsrc1/rsrcmdreg/mdo_16" BEL "rsrc1/rsrcmdreg/mdo_15" BEL
        "rsrc1/rsrcmdreg/mdo_14" BEL "rsrc1/rsrcmdreg/mdo_13" BEL
        "rsrc1/rsrcmdreg/mdo_12" BEL "rsrc1/rsrcmdreg/mdo_11" BEL
        "rsrc1/rsrcmdreg/mdo_10" BEL "rsrc1/rsrcmdreg/mdo_9" BEL
        "rsrc1/rsrcmdreg/mdo_8" BEL "rsrc1/rsrcmdreg/mdo_7" BEL
        "rsrc1/rsrcmdreg/mdo_6" BEL "rsrc1/rsrcmdreg/mdo_5" BEL
        "rsrc1/rsrcmdreg/mdo_4" BEL "rsrc1/rsrcmdreg/mdo_3" BEL
        "rsrc1/rsrcmdreg/mdo_2" BEL "rsrc1/rsrcmdreg/mdo_1" BEL
        "rsrc1/rsrcmdreg/mdo_0" BEL "rsrc1/rsrcirreg/ir_31" BEL
        "rsrc1/rsrcirreg/ir_30" BEL "rsrc1/rsrcirreg/ir_29" BEL
        "rsrc1/rsrcirreg/ir_28" BEL "rsrc1/rsrcirreg/ir_27" BEL
        "rsrc1/rsrcirreg/ir_26" BEL "rsrc1/rsrcirreg/ir_25" BEL
        "rsrc1/rsrcirreg/ir_24" BEL "rsrc1/rsrcirreg/ir_23" BEL
        "rsrc1/rsrcirreg/ir_22" BEL "rsrc1/rsrcirreg/ir_21" BEL
        "rsrc1/rsrcirreg/ir_20" BEL "rsrc1/rsrcirreg/ir_19" BEL
        "rsrc1/rsrcirreg/ir_18" BEL "rsrc1/rsrcirreg/ir_17" BEL
        "rsrc1/rsrcirreg/ir_16" BEL "rsrc1/rsrcirreg/ir_15" BEL
        "rsrc1/rsrcirreg/ir_14" BEL "rsrc1/rsrcirreg/ir_13" BEL
        "rsrc1/rsrcirreg/ir_12" BEL "rsrc1/rsrcirreg/ir_11" BEL
        "rsrc1/rsrcirreg/ir_10" BEL "rsrc1/rsrcirreg/ir_9" BEL
        "rsrc1/rsrcirreg/ir_8" BEL "rsrc1/rsrcirreg/ir_7" BEL
        "rsrc1/rsrcirreg/ir_6" BEL "rsrc1/rsrcirreg/ir_5" BEL
        "rsrc1/rsrcirreg/ir_4" BEL "rsrc1/rsrcirreg/ir_3" BEL
        "rsrc1/rsrcirreg/ir_2" BEL "rsrc1/rsrcirreg/ir_1" BEL
        "rsrc1/rsrcirreg/ir_0" BEL "rsrc1/rsrcareg/a_31" BEL
        "rsrc1/rsrcareg/a_30" BEL "rsrc1/rsrcareg/a_29" BEL
        "rsrc1/rsrcareg/a_28" BEL "rsrc1/rsrcareg/a_27" BEL
        "rsrc1/rsrcareg/a_26" BEL "rsrc1/rsrcareg/a_25" BEL
        "rsrc1/rsrcareg/a_24" BEL "rsrc1/rsrcareg/a_23" BEL
        "rsrc1/rsrcareg/a_22" BEL "rsrc1/rsrcareg/a_21" BEL
        "rsrc1/rsrcareg/a_20" BEL "rsrc1/rsrcareg/a_19" BEL
        "rsrc1/rsrcareg/a_18" BEL "rsrc1/rsrcareg/a_17" BEL
        "rsrc1/rsrcareg/a_16" BEL "rsrc1/rsrcareg/a_15" BEL
        "rsrc1/rsrcareg/a_14" BEL "rsrc1/rsrcareg/a_13" BEL
        "rsrc1/rsrcareg/a_12" BEL "rsrc1/rsrcareg/a_11" BEL
        "rsrc1/rsrcareg/a_10" BEL "rsrc1/rsrcareg/a_9" BEL
        "rsrc1/rsrcareg/a_8" BEL "rsrc1/rsrcareg/a_7" BEL "rsrc1/rsrcareg/a_6"
        BEL "rsrc1/rsrcareg/a_5" BEL "rsrc1/rsrcareg/a_4" BEL
        "rsrc1/rsrcareg/a_3" BEL "rsrc1/rsrcareg/a_2" BEL "rsrc1/rsrcareg/a_1"
        BEL "rsrc1/rsrcareg/a_0" BEL "rsrc1/rsrccontrol/state_FSM_FFd1" BEL
        "rsrc1/rsrccontrol/state_FSM_FFd2" BEL
        "rsrc1/rsrccontrol/state_FSM_FFd3" BEL "usb1/wr_h" BEL "usb1/wr_done"
        BEL "usb1/rd_done" BEL "rsrc1/rsrcirreg/ir_29_1" BEL
        "rsrc1/rsrccontrol/state_FSM_FFd3_1" BEL
        "rsrc1/rsrccontrol/state_FSM_FFd2_1" BEL "rsrc1/rsrcirreg/ir_27_1" BEL
        "rsrc1/rsrcirreg/ir_29_2" BEL "rsrc1/rsrccontrol/state_FSM_FFd3_2" BEL
        "usb1/Mshreg_txe_l_sync" BEL "usb1/txe_l_sync" BEL
        "Mshreg_reset_l_sync" BEL "reset_l_sync" BEL "usb1/Mshreg_rxf_l_sync"
        BEL "usb1/rxf_l_sync" PIN "sram1/Mram_myarray_pins<63>" PIN
        "sram1/Mram_myarray_pins<62>" PIN "sram1/Mram_myarray_pins<65>" PIN
        "sram1/Mram_myarray_pins<64>";
PIN mydcm1/mmcm_adv_inst_pins<2> = BEL "mydcm1/mmcm_adv_inst" PINNAME CLKIN1;
TIMEGRP clk = PIN "mydcm1/mmcm_adv_inst_pins<2>";
TS_CLK = PERIOD TIMEGRP "clk" 10 ns HIGH 50%;
TS_mydcm1_clkout1 = PERIOD TIMEGRP "mydcm1_clkout1" TS_CLK / 0.5 HIGH 50%;
SCHEMATIC END;

