RichArduino/_xmsgs
RichArduino/iseconfig
RichArduino/RichArduino.xise
RichArduino/RichArduino.gise
*.exe
*.wdb
*.log
*.cmd
RichArduino/Default.wcfg
RichArduino/fuse.xmsgs
RichArduino/isim/
RichArduino/testbench_beh.prj
RichArduino/xilinxsim.ini
RichArduino/testbench_stx_beh.prj
