RichArduino/_xmsgs
RichArduino/iseconfig
RichArduino/RichArduino.xise
RichArduino/RichArduino.gise
*.exe
*.wdb
*.log
*.cmd
RichArduino/Default.wcfg
RichArduino/fuse.xmsgs
RichArduino/isim/
RichArduino/testbench_beh.prj
RichArduino/xilinxsim.ini
RichArduino/testbench_stx_beh.prj
RichArduino/TMDS_encoder.v
RichArduino/_ngo/
RichArduino/testbench.bld
RichArduino/testbench.cmd_log
RichArduino/testbench.lso
RichArduino/testbench.ngc
RichArduino/testbench.ngr
RichArduino/testbench.prj
RichArduino/testbench.stx
RichArduino/testbench.syr
RichArduino/testbench.xst
RichArduino/testbench_envsettings.html
RichArduino/testbench_ngdbuild.xrpt
RichArduino/testbench_xst.xrpt
RichArduino/webtalk_pn.xml
RichArduino/xst/

