NET "clk" TNM_NET = "clk";
TIMESPEC TS_CLK = PERIOD "clk" 10 ns HIGH 50 %;
NET "clk" LOC = E3;
NET "clk" IOSTANDARD = LVCMOS33;
NET "reset_l" LOC = C12;
NET "reset_l" IOSTANDARD = LVCMOS33;
PIN "mydcm1/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;

NET "txe_l" LOC = P35;
NET "rxf_l" LOC = P34;
NET "usb_bus[0]" LOC = P30;
NET "usb_bus[1]" LOC = P26;
NET "usb_bus[2]" LOC = P27;
NET "usb_bus[3]" LOC = P17;
NET "usb_bus[4]" LOC = P29;
NET "usb_bus[5]" LOC = P22;
NET "usb_bus[6]" LOC = P21;
NET "usb_bus[7]" LOC = P23;
NET "usb_rd" LOC = P15;
NET "usb_wr" LOC = P14;

NET "txe_l" IOSTANDARD = LVCMOS33;
NET "rxf_l" IOSTANDARD = LVCMOS33;
NET "usb_bus[0]" IOSTANDARD = LVCMOS33;
NET "usb_bus[1]" IOSTANDARD = LVCMOS33;
NET "usb_bus[2]" IOSTANDARD = LVCMOS33;
NET "usb_bus[3]" IOSTANDARD = LVCMOS33;
NET "usb_bus[4]" IOSTANDARD = LVCMOS33;
NET "usb_bus[5]" IOSTANDARD = LVCMOS33;
NET "usb_bus[6]" IOSTANDARD = LVCMOS33;
NET "usb_bus[7]" IOSTANDARD = LVCMOS33;
NET "usb_rd" IOSTANDARD = LVCMOS33;
NET "usb_wr" IOSTANDARD = LVCMOS33;

#NET "pins[0]" LOC = P87;
#NET "pins[1]" LOC = P88;
#NET "pins[2]" LOC = P92;
#NET "pins[3]" LOC = ;
#NET "pins[4]" LOC = ;
#NET "pins[5]" LOC = ;
#NET "pins[6]" LOC = ;
#NET "pins[7]" LOC = ;
#NET "pins[8]" LOC = ;
#NET "pins[9]" LOC = ;
#NET "pins[10]" LOC = ;
#NET "pins[11]" LOC = ;
#NET "pins[12]" LOC = ;
#NET "pins[13]" LOC = ;
#NET "pins[14]" LOC = ;
#NET "pins[15]" LOC = ;
#NET "pins[16]" LOC = ;
#NET "pins[17]" LOC = ;
#NET "pins[18]" LOC = ;
#NET "pins[19]" LOC = ;
#NET "pins[20]" LOC = ;
#NET "pins[21]" LOC = ;

NET "pins[0]" IOSTANDARD = LVCMOS33;
NET "pins[1]" IOSTANDARD = LVCMOS33;
NET "pins[2]" IOSTANDARD = LVCMOS33;
NET "pins[3]" IOSTANDARD = LVCMOS33;
NET "pins[4]" IOSTANDARD = LVCMOS33;
NET "pins[5]" IOSTANDARD = LVCMOS33;
NET "pins[6]" IOSTANDARD = LVCMOS33;
NET "pins[7]" IOSTANDARD = LVCMOS33;
NET "pins[8]" IOSTANDARD = LVCMOS33;
NET "pins[9]" IOSTANDARD = LVCMOS33;
NET "pins[10]" IOSTANDARD = LVCMOS33;
NET "pins[11]" IOSTANDARD = LVCMOS33;
NET "pins[12]" IOSTANDARD = LVCMOS33;
NET "pins[13]" IOSTANDARD = LVCMOS33;
NET "pins[14]" IOSTANDARD = LVCMOS33;
NET "pins[15]" IOSTANDARD = LVCMOS33;
NET "pins[16]" IOSTANDARD = LVCMOS33;
NET "pins[17]" IOSTANDARD = LVCMOS33;
NET "pins[18]" IOSTANDARD = LVCMOS33;
NET "pins[19]" IOSTANDARD = LVCMOS33;
NET "pins[20]" IOSTANDARD = LVCMOS33;
NET "pins[21]" IOSTANDARD = LVCMOS33;