# Spartan 6 XC6SLX9-3TQG144C FPGA
NET "clk" TNM_NET = "clk";
TIMESPEC TS_CLK = PERIOD "clk" 10 ns HIGH 50 %;
NET "clk" LOC = P95;
NET "clk" IOSTANDARD = LVCMOS33;
NET "reset_l_usb" LOC = P16;
NET "reset_l_but" LOC = P111;
NET "reset_l_usb" IOSTANDARD = LVCMOS33;
NET "reset_l_but" IOSTANDARD = LVCMOS33;
PIN "mydcm1/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;

OFFSET = OUT 10 ns AFTER "clk";
OFFSET = IN 15 ns VALID 10 ns BEFORE "clk" RISING;

#NET "TMDSp[2]" LOC = P85;
#NET "TMDSn[2]" LOC = P84;
#NET "TMDSp[1]" LOC = P75;
#NET "TMDSn[1]" LOC = P74;
#NET "TMDSp[0]" LOC = P83;
#NET "TMDSn[0]" LOC = P82;
#NET "TMDSp_clock" LOC = P79;
#NET "TMDSn_clock" LOC = P78;

#NET "TMDSp[2]" LOC = P138;
#NET "TMDSn[2]" LOC = P137;
#NET "TMDSp[1]" LOC = P124;
#NET "TMDSn[1]" LOC = P123;
#NET "TMDSp[0]" LOC = P134;
#NET "TMDSn[0]" LOC = P133;
#NET "TMDSp_clock" LOC = P127;
#NET "TMDSn_clock" LOC = P126;

NET "TMDSp[2]" LOC = P51;
NET "TMDSn[2]" LOC = P50;
NET "TMDSp[1]" LOC = P41;
NET "TMDSn[1]" LOC = P40;
NET "TMDSp[0]" LOC = P48;
NET "TMDSn[0]" LOC = P47;
NET "TMDSp_clock" LOC = P44;
NET "TMDSn_clock" LOC = P43;
NET "TMDSp[2]" IOSTANDARD = TMDS_33;
NET "TMDSn[2]" IOSTANDARD = TMDS_33;
NET "TMDSp[1]" IOSTANDARD = TMDS_33;
NET "TMDSn[1]" IOSTANDARD = TMDS_33;
NET "TMDSp[0]" IOSTANDARD = TMDS_33;
NET "TMDSn[0]" IOSTANDARD = TMDS_33;
NET "TMDSp_clock" IOSTANDARD = TMDS_33;
NET "TMDSn_clock" IOSTANDARD = TMDS_33;

NET "txe_l" LOC = P22;
NET "rxf_l" LOC = P21;
NET "usb_bus[0]" LOC = P15;
NET "usb_bus[1]" LOC = P10;
NET "usb_bus[2]" LOC = P11;
NET "usb_bus[3]" LOC = P6;
NET "usb_bus[4]" LOC = P12;
NET "usb_bus[5]" LOC = P8;
NET "usb_bus[6]" LOC = P7;
NET "usb_bus[7]" LOC = P9;
NET "usb_rd" LOC = P2;
NET "usb_wr" LOC = P1;

NET "txe_l" IOSTANDARD = LVCMOS33;
NET "rxf_l" IOSTANDARD = LVCMOS33;
NET "usb_bus[0]" IOSTANDARD = LVCMOS33;
NET "usb_bus[1]" IOSTANDARD = LVCMOS33;
NET "usb_bus[2]" IOSTANDARD = LVCMOS33;
NET "usb_bus[3]" IOSTANDARD = LVCMOS33;
NET "usb_bus[4]" IOSTANDARD = LVCMOS33;
NET "usb_bus[5]" IOSTANDARD = LVCMOS33;
NET "usb_bus[6]" IOSTANDARD = LVCMOS33;
NET "usb_bus[7]" IOSTANDARD = LVCMOS33;
NET "usb_rd" IOSTANDARD = LVCMOS33;
NET "usb_wr" IOSTANDARD = LVCMOS33;

NET "pins[0]" LOC = P55; # P0
NET "pins[1]" LOC = P56; # P1
NET "pins[2]" LOC = P57; # P2
NET "pins[3]" LOC = P58; # P3
NET "pins[4]" LOC = P59; # P4
NET "pins[5]" LOC = P60; # P5
NET "pins[6]" LOC = P61; # P6
NET "pins[7]" LOC = P62; # P7
NET "pins[8]" LOC = P66; # P8
NET "pins[9]" LOC = P67; # P9
NET "pins[10]" LOC = P69; # P10
NET "pins[11]" LOC = P74; # P11
NET "pins[12]" LOC = P75; # P12
NET "pins[13]" LOC = P78; # P13
NET "pins[14]" LOC = P79; # SDA
NET "pins[15]" LOC = P80; # SCL
NET "pins[16]" LOC = P139; # A0
NET "pins[17]" LOC = P140; # A1
NET "pins[18]" LOC = P141; # A2
NET "pins[19]" LOC = P142; # A3
NET "pins[20]" LOC = P143; # A4
NET "pins[21]" LOC = P144; # A5

NET "pins[0]" IOSTANDARD = LVCMOS33;
NET "pins[1]" IOSTANDARD = LVCMOS33;
NET "pins[2]" IOSTANDARD = LVCMOS33;
NET "pins[3]" IOSTANDARD = LVCMOS33;
NET "pins[4]" IOSTANDARD = LVCMOS33;
NET "pins[5]" IOSTANDARD = LVCMOS33;
NET "pins[6]" IOSTANDARD = LVCMOS33;
NET "pins[7]" IOSTANDARD = LVCMOS33;
NET "pins[8]" IOSTANDARD = LVCMOS33;
NET "pins[9]" IOSTANDARD = LVCMOS33;
NET "pins[10]" IOSTANDARD = LVCMOS33;
NET "pins[11]" IOSTANDARD = LVCMOS33;
NET "pins[12]" IOSTANDARD = LVCMOS33;
NET "pins[13]" IOSTANDARD = LVCMOS33;
NET "pins[14]" IOSTANDARD = LVCMOS33;
NET "pins[15]" IOSTANDARD = LVCMOS33;
NET "pins[16]" IOSTANDARD = LVCMOS33;
NET "pins[17]" IOSTANDARD = LVCMOS33;
NET "pins[18]" IOSTANDARD = LVCMOS33;
NET "pins[19]" IOSTANDARD = LVCMOS33;
NET "pins[20]" IOSTANDARD = LVCMOS33;
NET "pins[21]" IOSTANDARD = LVCMOS33;