NET "clk" TNM_NET = "clk";
TIMESPEC TS_CLK = PERIOD "clk" 10 ns HIGH 50 %;
NET "clk" LOC = L15;
NET "clk" IOSTANDARD = LVCMOS33;
PIN "myhdmidcm1/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
NET "TMDSp[2]" LOC = B8;
NET "TMDSn[2]" LOC = A8;
NET "TMDSp[1]" LOC = C7;
NET "TMDSn[1]" LOC = A7;
NET "TMDSp[0]" LOC = D8;
NET "TMDSn[0]" LOC = C8;
NET "TMDSp_clock" LOC = B6;
NET "TMDSn_clock" LOC = A6;
NET "TMDSp[2]" IOSTANDARD = TMDS_33;
NET "TMDSn[2]" IOSTANDARD = TMDS_33;
NET "TMDSp[1]" IOSTANDARD = TMDS_33;
NET "TMDSn[1]" IOSTANDARD = TMDS_33;
NET "TMDSp[0]" IOSTANDARD = TMDS_33;
NET "TMDSn[0]" IOSTANDARD = TMDS_33;
NET "TMDSp_clock" IOSTANDARD = TMDS_33;
NET "TMDSn_clock" IOSTANDARD = TMDS_33;